@tailwind base;
@tailwind components;
@tailwind utilities;

.quill-editor {
  margin: 0 auto;
}

.quill-editor .ql-editor {
  max-height: 70vh; /* Maximum height for the editor content */
  min-height: 7rem; /* Minimum height for the editor */
  overflow-y: auto;
}

.quill-editor .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
